@import "../../styles/global.scss";

.siteTitle {
    font-size: 4.25rem;
    line-height: 4rem;
    color: $primary;
    font-weight: normal;
    font-family: 'Cookie', cursive;
    text-decoration: none;

    @media #{$break-small} {
        font-size: 5rem; 
        line-height: 4.5rem; 
    }

    @media #{$break-large} {
        font-size: 5.5rem;
        line-height: 5rem;  
    }
}
