@import "../../styles/global.scss";

aside {
    background-color: $aside;
    padding: 1rem;
    padding-top: 2rem;
    margin: 2rem 0;
}
.asideHeading {
    font-family: $font;
    font-size: 1.375rem;
    line-height: 1.154rem;
    color: $primary;
    font-weight: bold;
    
    @media #{$break-small} {
      font-size: 1.5rem;  
      line-height: 1.25rem;
    }
    @media #{$break-large} {
      font-size: 1.75rem; 
    }
}
.itemTitle {
    font-family: $font;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: $primary;
    margin: 0;
      
    @media #{$break-small} {
      line-height: 1.3rem;  
    }
    @media #{$break-large} {
      line-height: 1.375rem;  
    }
}
p {
    font-family: $font;
    font-size: 1rem;
    line-height: 1.25rem;
    color: $primary;
        
    @media #{$break-small} {
        line-height: 1.3rem;  
    }
    @media #{$break-large} {
        font-size: 1.1rem;
        line-height: 1.375rem;  
    }
}