@import "../../styles/global.scss";

.secondaryNav {
    padding: 1rem 2rem;
    margin: .5rem;
    text-transform: lowercase;
    background-color: $aside;

    span {
        font-style: italic;
        color: $primary;
    }

    a {
        color: $primary;
        margin-left: 2rem;
        padding-bottom: .5rem;
        text-decoration: none;
        border-bottom: $border transparent;
    
        &:hover {
            border-bottom: $border $primary;
        }
    }
}
a.active {
    border-bottom: $border $primary;
}