@import "../../styles/global.scss";

.secondaryNav {
    padding: 1rem 2rem;
    margin: .5rem;
    text-transform: lowercase;
    background-color: $aside;

    span {
        font-style: italic;
    }
    a {
        margin-left: 2rem;
        padding-bottom: .5rem;
        color: $primary;
        
        &:hover {
            border-bottom: $border $primary;
        }
    }
}
.active {
    border-bottom: $border $primary;
}