@import "../styles/global.scss";

article {
    margin-top: 1rem;
    padding: 2rem 0;
}
.illustration {
    width: 100%;
    margin: 2rem auto;

    @media #{$break-small} {
        width: 75%
    }
    
    @media #{$break-large} {

    }
}