@import "../styles/variables";

article {
    margin: 2rem 0;
}
.pageTitle {
    font-family: $font;
    font-size: 2rem;
    color: $primary;
    font-weight: bold;
    
    @media #{$break-small} {
        font-size: 2.5rem;  
    }
    @media #{$break-large} {
        font-size: 3rem;  
    }
}