@import "../styles/global.scss";

.connect {
    margin: 2rem 0;
    padding-top: 2rem;
}

.connectHeading {
    font-family: $font;
    font-size: 1.375rem;
    color: $primary;
    font-weight: bold;
    
    @media #{$break-small} {
      font-size: 2rem;  
    }
    
    @media #{$break-large} {
      font-size: 2.25rem;  
    }
}



.connectLinks {
    margin-bottom: 1rem;
    margin-left: 1rem;
    
    a,
    a:hover,
    a:visited {
        font-family: $font;
        color: $primary;
        text-decoration: none;
        font-weight: bold;
    }
  
    a:hover {
        font-family: $font;
        font-weight: bold;
    }

    &:hover {
        transform: translate(10px);
        transition: all .5s linear;
    }
}