@import "../styles/global.scss";

footer {
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
    
    .footerText {
      font-family: $font;
      font-size: .875rem;
      line-height: 1rem;
    }
}