@import "../../styles/variables";

footer {
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    
    .footerText {
        font-family: $font;
        font-size: .875rem;
        line-height: 1rem;
        color: $primary;
    }
}